.App {
  text-align: center;
}

.card-container{
  background-color: aqua;
  min-height: 100vh;
}
.list_container{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
.list_img{
  border-radius:50%;
  height:50px;
}
.list_container:hover{
  cursor: pointer;
  background-color: chartreuse;
}

.edit_icon{
  width: 50px;
}
.delete_icon{
  width: 50px;
}